<h2>Profile Page for <%= @user.name %></h2>

<!-- <li>Characters</li> -->
<ul>

<% @characters.each do |h| %>
  <li><%= link_to h.name, character_path(h.id) %></li>
  <% end %>

</ul>


<%= link_to 'Create a new Character', new_character_path %>
