/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   /* font-family: Solway; */
   margin: 42px;
   /* background-image: url("https://external-preview.redd.it/xB8B_toxUQCJHgBdioyLCMUJ0Zuv_3osLg8x6c1kx8c.jpg?auto=webp&s=e6725de7955c34ecfaffb185cd374cb4a5039e86"); */
   object-fit: contain;
   background-image: linear-gradient(90deg, #bdc3c7, #8ec1e3);;
 }
h1 {
  /* font-family: Solway; */
}
